body {
    font-family: "Poppins",sans-serif;
    box-sizing: content-box;
    
}


.review {
    background-color: white;
    margin: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.review-sec{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rvtop{
    background-color: orange;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    margin-left: 150px;
    position: relative;
    left:50px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}

.rw5000 {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    padding-left:200px;
    position: relative;
    bottom: 200px;
    left: 250px;
    
}

.rvbuttm{
    background-color: whitesmoke;
    width: 500px;
    height: 230px;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;

}



.photo1,
.photo2 {
    width: 80px;
    height: 80px;
    background-color: rgb(219, 217, 217);
    border-radius: 300px;
    margin: 20px 20px;
}

.rwtop1,
.rwbuttom1 {
    display: flex;
    flex-direction: row;

}

.name {
    margin-top: 40px;
    color: white;
    font-size: 15px;
}

.msg1 {
    padding: 20px;
    margin-top: 5;
    color: white;
    font-size: 15px;
}
.msg2 {
    padding: 20px;
    margin-top: 5;
    color: rgb(145, 142, 142);
    font-size: 15px;
}


.star {
    position: relative;
    top:50px;
    left: 150px;
}

.checked {
    color: white;
    
}

.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 400px;
    
    
}

.frm-student {
    font-size: 20px;
    padding-bottom:20px;
}

.msg-5000{
    font-size: 14px;
}

@media screen and (max-width: 1024) {
    .container {
        display: flox;
        flex-direction: column;
        justify-content: center;
    }
  }