body {
  font-family: "Poppins", sans-serif;
  box-sizing: content-box;
}

.review {
  background-color: white;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.review-sec {
  display: flex;
  flex-direction: column;
}

.rvtop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: orange;
  width: 450px;
  height: 250px;
  border-radius: 20px;
  position: relative;
  margin: 400px;
  position: absolute;
  left: 100px;
  z-index: 2;
  box-shadow: rgba(226, 190, 30, 0.16) 0px 6px 9px,
    rgba(248, 227, 41, 0.23) 0px 6px 9px;
}

.rwtop1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.photo1 {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: rgb(175, 173, 173);
  margin: 20px;
}

.rwtop2 {
  padding: 20px;
  color: white;
}

.rvbottm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 253, 250);
  width: 450px;
  height: 250px;
  border-radius: 20px;
  position: relative;
  margin: 400px;
  border: 2px solid rgb(243, 225, 225);
  position: absolute;
  top: 90px;
  z-index: 1;
}

.rwbottom1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: rgb(204, 200, 200);
}
.photo2 {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: rgb(175, 173, 173);
  margin: 20px;
}

.rvbottom2 {
  padding: 20px;
  color: rgb(172, 166, 166);
}

.bt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.star {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 100px;
}

.rw5000 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  height: 400px;
  margin: 400px;
  position: absolute;
  left: 600px;
  top: 30px;
}

.frm-student {
  font-size: 20px;
}

.msg-5000 {
  font-size: 14px;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
  }

  .rvtop{
    width: 300px;
    height: 500px;
    margin: 20px auto;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top:250px;

  }
  .star {
    position: absolute;
    top:120px;
    right: 190px;
  }

  .msg {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .photo1 {
    width: 80px;
    height: 80px;
    border-radius: 100px;
  }

  #name {
    font-weight: 500;
  }
  
  .rvbottm {
    width: 300px;
    height: 500px;
    margin: 20px auto;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 100px;
    top: 400px;

  }

  

  .rwtop1,
  .rwbottom1 {
    justify-content: center;

  }

  .rw5000 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: static;

  }

  .frm-student{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom:920px;
    left: 120px;
  }

  .msg-5000 {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom:820px;
    left: 120px;
  }

}
