body {
    font-family: "Poppins",sans-serif;
}

.text-header{
    font-weight: bold;
}

.head{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.button1{
    color: white;
    padding: 15px;
    background-color: sandybrown;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(218, 188, 162,0.5);
}
.content{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.pic1,.pic2,.pic3{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 25px;
}
.pic1{
    background-color:rgb(178, 123, 214,0.5);
}
.pic2{
    background-color:rgb(129, 241, 125,0.5)
}
.pic3{
    background-color: rgb(230, 187, 152);
}
.info{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.foot{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    background-color: rgb(31, 27, 27);
    height: 100px;
    width: 100%;
}
.text-box{
    font-weight: bolder;
    padding: 15px;
}
.button2{
    display: flex;
    align-items: center;
    font-size:xx-small;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(224, 122, 32);
}

.img1{
    position: absolute;
    top: 60px;
    left: 170px;
}
.img2{
    display: none;
}
.empty{
    width: 100vw;
    height: 340px;
}

@media only screen and (max-width:600px){
    .content{
        display: flex;
        flex-direction: column;

    }
    .head{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .button1{
        width: 180px;
    }
    .foot{
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: flex-start;
        height: 140px;
    }
    .img1{
        display: none;
    }
    .text-box{
        padding: 10px 5px;
    }
    .img2{
        padding: 10px;
        display:flex;
        position: absolute;
        left: 120px;
        top: 40px;
    }
    .empty{
        height: 50px;
    }
    .button2{
        margin-left: 15px;
    }
}